<h1>Hello <%= @business.name %> </h1>
<% if flash[:notice] %>
  <%= flash[:notice] %><br />
<p>
  Check out your <%= link_to("locations", business_locations_path(@business)) %> and <%= link_to("playlists", business_playlists_path(@business)) %>
</p>

<% else %>

  <p>Welcome to WorkandPlay, the background-music app for your business!</p>

  <% if @business.locations.count == 0 %>
    <p>
      To get started, <%= link_to("add your first location", new_business_location_path(@business)) %>
    </p>
  <% else %>
    <p>
      Check out your <%= link_to("locations", business_locations_path(@business)) %> and <%= link_to("playlists", business_playlists_path(@business)) %>
    </p>
  <% end %>
<% end %>
