<h1>Log in to Work and Play:</h1>

<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>

<%= form_tag '/sessions', :class => "form-group" do |f| %>
  <label>Email address</label>
  <%= text_field_tag 'email_address', nil, class: "form-control" %><br />

  <label>Password</label>
  <%= password_field_tag 'password', nil, class: "form-control" %><br />

<%= submit_tag "Sign In", class: "btn btn-default" %>
<%end%>

<%= link_to('Log in with Spotify', '/auth/spotify') %><br /><br />

<p>
  If you don't have an account yet, create one <%= link_to('here', new_business_path) %>
</p>
