<h1><%= @business.name %>'s Music</h1>

<div class = "container">
  <% @playlists.each do |playlist| %>
    <h3><%=link_to(playlist.name, business_playlist_path(@business, playlist), class: "playlist")%></h3>
    <p id="playlist-<%= playlist.id %>"></p>
  <% end %>
</div>
<% if @business.uid.blank? %>
<div class = "container">
  <%= flash[:notice] %><br /><br />
  <%= link_to('Connect your spotify account to import your playlists', '/auth/spotify') %>
</div>
<% end %>
