

<p>Filter locations by state</p>
<%= form_tag("/locations", method: "get") do %>
  <%= select_tag :state, options_for_select(us_states_for_search), include_blank: true %>
  <%= submit_tag "Filter" %>
<% end %>

<% @locations.each do |location| %>
  <div >
    <h3><%= link_to location.name, business_location_path(@business, location), class: "location" %></h3>
    <div id="location-<%=location.id.to_s%>">

    </div>
    <p ><%= location.address %>, <%= location.state %></p>
  </div>
<% end %>

<%= link_to "Add a new location", new_business_location_path(@business) %>
