<h1>Welcome to Work and Play</h1>


<h2>Whats playing now at your locations:</h2>
<div>
  <h3>Filter locations by state:</h3>
  <%= form_tag("/locations", method: "get") do %>
    <%= select_tag :state, options_for_select(us_states), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>

<% if !params[:state].blank? %>
  <% @locations = @business.locations.where(state: params[:state]) %>
<ul>
<% @locations.each do |location| %>
  <h3><li><%= link_to location.name, location_path(location) %></li></h3>
  <%= location.address %><br />
  <%= link_to 'Delete', location_path(location), method: :delete %>
<% end %>
</ul>
<%else%>
<ul>
<% @business.locations.each do |location| %>
  <h3><li><%= link_to location.name, location_path(location) %></li></h3>
  <h4>Playlist Schedule:</h4>
  6am - 9am<br /> <%= location.playlists[0] %>
  9am - 12noon<br /> <%= location.playlists[1] %>
  12noon - 3pm<br /> <%= location.playlists[2] %>
  3pm - 6pm<br /> <%= location.playlists[3] %>
  6pm - 9pm<br /><br /> <%= location.playlists[4] %>
  <%= location.address %>, <%= location.state %> <br />
  <%= link_to 'Delete', location_path(location), method: :delete %>
<% end %>
</ul>
<%end%>

<%= link_to "Show all locations", business_locations_path(@business) %><br />
<%= link_to "Add a new location", new_location_path %><br />

<%= link_to('Logout', logout_path, method: :post)%>
