<h1>Welcome to Work and Play</h1>


<h2>Your Business locations:</h2>
<div>
  <h3>Filter locations by state:</h3>
  <%= form_tag("/locations", method: "get") do %>
    <%= select_tag :state, options_for_select(us_states_for_search), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>

<ul>
<% @locations.each do |location| %>
  <h3><li><%= link_to location.name, location_path(location) %></li></h3>
  <%= location.address %>, <%= location.state %> <br />
  <%= link_to 'Delete', location_path(location), method: :delete %>
<% end %>
</ul>

<%= link_to "Add a new location", new_location_path %><br />

<%= link_to('Logout', logout_path, method: :delete)%>
