<% if @location.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@location.errors.count, "error") %>
      prohibited this business from being saved:
    </h2>

    <ul>
    <% @location.errors.full_messages.each do |msg| %>
      <li> <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<h1>Add a new location:</h1>
<%= form_for ([@business, @location]), :html => {:class => "form-group"} do |f|%>
  <%= f.label(:name, "Location name:")%>
  <%= f.text_field :name, class: "form-control" %><br />
  <%= f.label(:address, "Street address:")%>
  <%= f.text_area :address, class: "form-control" %><br />
  <%= f.label(:state, "State:")%>
  <%= f.select :state, options_for_select(us_states_for_location_creation), {:prompt => true} %> <br />
  <%= f.hidden_field :business_id, value: @business.id %>
  <%= f.submit "Create New Location", class: "btn btn-default"%>
<% end %>
