<h1><%= @location.name %></h1>
<% if @business.uid %>
    <h3>6am - 9am</h3>
    <%= link_to(@location.playlists[0].name, business_playlist_path(@business, @location.playlists[0])) %><br />
    <h3>9am - 12noon</h3>
    <%= @location.playlists[1].name %><br />
    <h3>12noon - 3pm</h3>
    <%= @location.playlists[2].name %><br />
    <h3>3pm - 6pm</h3>
    <%= @location.playlists[3].name %><br />
    <h3>6pm - 9pm</h3>
    <%= @location.playlists[4].name %><br />
    <br />
    <%= submit_tag "schedule playlists" %>
<% else %>
  <%= link_to('Connect your spotify account to schedule playlists', '/auth/spotify') %>
<% end %>
