<h1><%= @location.name %></h1>

<% if @business.uid && @location.playlists.count > 0 %>
  <h4>Playlist Schedule:</h4>
  <p>
    <%= daily_playlist_schedule(@location) %>
  </p>
  6am - 9am<br />
  9am - 12noon<br />
  12noon - 3pm<br />
  3pm - 6pm<br />
  6pm - 9pm<br />
  <%= link_to('Edit playlist schedule', edit_location_path(@location)) %><br />

<% elsif @business.uid && @location.playlists.count == 0  %>
  <%= link_to('Schedule some playlists here', edit_location_path(@location)) %><br />

<% else %>
  <%= link_to('Connect your spotify account to schedule playlists', '/auth/spotify') %>
<% end %><br /><br />

<%= link_to('All locations', business_locations_path(@business)) %>
