<h1><%= @location.name %></h1>

<%= form_for @location do |f| %>
  <%= f.fields_for :playlists do |p| %>
    <h3>6am - 9am</h3>
    <%= p.collection_select(:time_slot, @business.playlists.all, :id, :name) %>
    <h3>9am - 12noon</h3>
    <%= p.collection_select(:time_slot, @business.playlists.all, :id, :name) %>
    <h3>12noon - 3pm</h3>
    <%= p.collection_select(:time_slot, @business.playlists.all, :id, :name) %>
    <h3>3pm - 6pm</h3>
    <%= p.collection_select(:time_slot, @business.playlists.all, :id, :name) %>
    <h3>6pm - 9pm</h3>
    <%= p.collection_select(:time_slot, @business.playlists.all, :id, :name) %>
  <% end %>
<%= f.submit %>
<% end %>
